# Default to AI Studio Firebase configs
VITE_FIREBASE_API_KEY="AIzaSyCV1_FGsCJ4lULKeGS4axQTIC9s2RSlnPY"
VITE_FIREBASE_AUTH_DOMAIN="gen-lang-client-0251900222.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="gen-lang-client-0251900222"
VITE_FIREBASE_STORAGE_BUCKET="gen-lang-client-0251900222.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="296643404047"
VITE_FIREBASE_APP_ID="1:296643404047:web:1e475a8c9e297f005c9e7a"


# Vercel deployment variables (required for R2 Video storage)
CLOUDFLARE_ACCOUNT_ID="bd0262d2d19a6073af4681161582d9dc"
R2_ACCESS_KEY_ID="a9ade5fcb43debdacde507010135d546"
R2_SECRET_ACCESS_KEY="2367102cbee5ed06bf35c200ecc290b404f72e692f8bba68f6f2078da75ac663"
R2_BUCKET_NAME="video"
R2_PUBLIC_DOMAIN="https://pub-90e03922122240f5833154dcc65b3129.r2.dev"
S3_API="https://bd0262d2d19a6073af4681161582d9dc.r2.cloudflarestorage.com/video"
